* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 53px;
    align-items: center;
}
.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
}
.form {
display: flex;
border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    background-color: #ccc;
    display: flex;
    gap: 10px;
}
.form img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px; 
}

.post-card {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    background-color: #ccc;
    display: flex;
    gap: 10px;
}

.user-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-body h3{
    margin-bottom: 10px;
}

.like{
    margin-top: 10px;
    color: #ef481f;
    font-size: 14px;
}